.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px; /* Initially hidden */
    background-color: #111;
    padding-top: 200px;
    transition: left 0.3s ease;
}

.sidebar h2 {
    color: white;
    text-align: center;
    padding-top: 50px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    /* text-align: center; */
    justify-content: center;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}

.sidebar ul li a:hover {
    background-color: #555;
}

.content {
    margin-left: 0;
    padding: 20px;
    transition: margin-left 0.3s ease;
    
}

.hidden {
    display: none;
}

.toggle-btn {
    position: relative;
    top: 20px;
    left: 20px;
    z-index: 999;
}

.center{
    text-align: center;
    font-weight: bolder;
}
button:hover{
    background-color: black;
    color: wheat;
}
input:focus{
    border: 3px solid cyan;
}
input:hover{
    border: 3px solid cyan;
}
